<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Logger -->
    <section name="rdLog" type="Janus.Rodeo.Windows.Library.Rd_Log.Rd_LogConfiguration, Janus.Rodeo.Windows.Library.Rd_Log" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MSM.HMI.Safety.Operation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <rdLog maxSize="8192" maxFiles="10" level="Debug" path="..\logs\" fileName="MSM.HMI.Safety.Operation" extraOutput="None">
  </rdLog>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="rodeo_dlls;MSM_dlls;externals" />
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <MSM.HMI.Safety.Operation.Properties.Settings>
      <setting name="SCREEN" serializeAs="String">
        <value>1</value>
      </setting>
    </MSM.HMI.Safety.Operation.Properties.Settings>
  </userSettings>
</configuration>
