<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TagLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="rdLog" type="Janus.Rodeo.Windows.Library.Rd_Log.Rd_LogConfiguration, Janus.Rodeo.Windows.Library.Rd_Log"/>
  </configSections>

  <rdLog maxSize="8192" maxFiles="10" level="Debug" path="..\logs\" fileName="Tools.TagLoader" extraOutput="None">
  </rdLog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="rodeo_dlls;MSM_dlls;externals"/>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TagLoader.Properties.Settings>
      <setting name="RodeoSector" serializeAs="String">
        <value>MSM</value>
      </setting>
    </TagLoader.Properties.Settings>
  </applicationSettings>
</configuration>